.container{
    display:grid;
    gap:5px;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
}
.container div{
    background-color: rgb(138, 231, 91);
    border: 2px solid black;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.box1{
    grid-column:1/6;
}
.box2{
    grid-row: 2/4;
}
.box3{
    grid-column: 2/6;
}
.box4{
    grid-column: 2/4;
}
.box5{
    grid-column: 4/6;
}
.box6{
    grid-column: 1/6;
}